{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div>
        <h3>
            {{data | length }}
        </h3>
        <h2>
            {{rows }}
        </h2>
    </div>

    {% set idxs = range(data | length) %}
    {% set num = namespace(val=0) %}

    {% set cols = namespace(val = cols) %}
    {% set startidx = namespace(val = 0) %}

    {% for row_idx in range(rows) %}
    <div class="columns" style="border:1px solid #dedede">
        {% for col_idx in range(startidx.val , startidx.val + cols.val) %}

        {% if col_idx in idxs %}
        <div class="column is-one-third" style="background-color: #f9f9f9;">
            {{row_idx}}--{{col_idx}}
            {{ data[col_idx]['summary_detail']['value'] | safe}}
        </div>
        {% endif %}

        {%endfor%}
    </div>

    {% set startidx.val = startidx.val + cols.val %}
    {%endfor%}



    <div style="background-color: aqua; padding:1rem">
        {% for i in range(2) %}
        <div class="columns">
            <div class="column is-half">
                {{i + loop.index0}}
                {{ data[i + loop.index0] ['summary_detail']['value'] | safe}}
            </div>

            {% if i + loop.index0 + 1 in idxs %}
            <div class="column is-half">
                {{i + loop.index0 + 1}}
                {{data[i + loop.index0 + 1]['summary_detail']['value'] | safe}}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <!-- <div
        class="columns">

        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <header class="card-header">
                        <p class="title">
                            Card header
                        </p>
                    </header>
                    <div class="content">
                        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta
                        gravida
                        at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus.
                        Cras mattis consectetur purus sit amet fermentum.
                    </div>
                </div>
            </div>
        </div>


        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <header class="card-header">
                        <p class="title">
                            Card header
                        </p>
                    </header>
                    <div class="content">
                        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta
                        gravida
                        at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus.
                        Cras mattis consectetur purus sit amet fermentum.
                    </div>
                </div>
            </div>
        </div>
</div>
-->

</div>

{% endblock%}