{% extends "layout.html" %}

{% block content %}
  <form action ={{url_for('blog.check')}} method="POST">
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
    {% for post in posts %}
     <tr>
       <td>
         {{post['username']}}
       </td>
       <td>
        {{post['title']}}
      </td>
      <td>
        <input type="checkbox" name="check" {{'checked' if post.del else ''}} value={{post.id}}>
      </td>
     </tr>
    {%endfor%}
    </table>
  <input type="submit" value="Выполнить">
</form>
{% endblock %}