{% extends "layout.html" %}

{% block content %}
  <form id="bfrm" action ={{url_for('blog.check')}} method="POST">
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
    {% for post in posts %}
     <tr>
       <td>
         {{post['username']}}
       </td>
       <td>
        {{post['title']}}
      </td>
      <td>
        <input type="checkbox" class="checkbox" name="check" {{'checked' if post.del else ''}} value={{post.id}}>
      </td>
     </tr>
    {%endfor%}
    </table>
  <input type="submit" value="Выполнить">
  
</form>
<button id ="jbtn">JSON</button>
<script>
  $(function(){


    $("#jbtn").click(function(){
  var arr=[];
  var farr = $('#bfrm').serializeArray()
  console.log(farr)

  $(".checkbox").each(function(){
    //console.log($(this).children()[1])
    console.log($(this).prop('checked'))
    arr.push($(this).val());
  });

  $.ajax({
    url:'{{url_for("blog.jscheck")}}',
    type:'post',
    data:{data:arr},
    success:function(res){
      if(res['result']=='OK'){
         console.log("rres",res)
         //window.location.replace("{{url_for('blog.index')}}");

      }
    }
  });

});



  })
</script>
{% endblock %}