{% extends "layout.html" %}

{% block content %}
<p>
    <a href="https://iamkate.com/code/tree-views/">Tree-CSS</a>
</p>

<ul>
    <li>first</li>
    <details open>
        <ul>
            <li>1</li>
            <li>2</li>
        </ul>
    </details>
</ul>

<ul class="tree">
    <li>
        <details open>
            <summary>Giant planets</summary>
            <ul>
                <li>
                    <details>
                        <summary>Gas giants</summary>
                        <ul>
                            <li>Jupiter</li>
                            <li>Saturn</li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Ice giants</summary>
                        <ul>
                            <li>Uranus</li>
                            <li>Neptune</li>
                        </ul>
                    </details>
                </li>
            </ul>
        </details>
    </li>
</ul>

<div id="res"></div>

<style>
    .thing {
        font-size: 1.5em;
    }

    ul li {
        margin-left: 20px
    }

    ul {
        list-style: disc;
    }

    ul.groups li {
        color: blue;
        font-size: 0.9em;
    }
</style>

{%endblock%}

{%block scripts%}
<script>
    $(function () {
        function run(val) {
            alert(val + "!!!")
        }
        $.getJSON('{{url_for("general.getgroups")}}', function (data) {
            let ul = $('<ul/>', {id: '007', class: 'thing'})
            // $.each(data.YearList, function (key, val) {
            //     let li = $('<li/>', {html: key + '-' + val.Year_ID}).bind('click', function () {run(val.EduYear)})
            //     li.appendTo(ul)
            // })

            let dataYear = data.GSTree.filter(y => y.Year_ID == 26)[0]
            console.log('data!!', dataYear)

            let root_UL = $("<ul/>", {id: 'root_ul', class: 'groups'})

            $.each(dataYear.FormEdu, function (key, val) {
                let formEduName_LI = $("<li/>", {id: val.FormEdu_ID, html: val.FormEduName})

                let det = $('<details/>', {open: false})

                let curs_UL = $('<ul/>')
                det.append(curs_UL)

                root_UL.append(formEduName_LI)
                formEduName_LI.append(det)//curs_UL)

                $.each(val.arr, function (k, v) {
                    let curs_LI = $('<li/>', {html: "Курс " + v.Curs})
                    curs_UL.append(curs_LI)

                    let grp_UL = $('<ul/>',)
                    curs_LI.append(grp_UL)

                    $.each(v.arr, function (i, d) {
                        let grp_LI = $('<li/>', {html: d.GSName})
                        grp_LI.appendTo(grp_UL)
                    })
                })

                formEduName_LI.appendTo(root_UL)
            })


            root_UL.appendTo($('#res'))

        })
    })
</script>


<!-- <script src="{{ url_for('static', filename='scripts/bundle.js') }}"></script> -->

{%endblock%}