{% extends "layout.html" %}

{% block content %}
<div class="container small-form">
    <form action={{url_for('general.savefile')}} enctype="multipart/form-data" method="POST">
        <div class="file has-name">
            <label class="file-label">
                <input class="file-input" required multiple type="file" name="datafile">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Выберите файл…
                    </span>
                </span>
                <span class="file-name">
                    Здесь м.б. описание файла
                </span>
            </label>
        </div>
        <div>
            <input id="finp" class="button" type="submit" value="Отправить">
        </div>
        <div class="c1 c2"></div>
        {% if request.args.get('message')%}
        <div class="message is-success">
            {{ request.args.get('message') }}
        </div>
        {% endif %}
    </form>

</div>

<style>
    form {
        width: 100%;
        margin: 30px;
    }

    .small-form {
        width: 400px;
    }

    h1 {
        color: red
    }
</style>
{%endblock%}

{%block scripts%}
<script>
    const fileInput = document.querySelector('.file input[type=file]');
    let inp = document.querySelector('#finp')
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            const fileName = document.querySelector('.file .file-name');
            console.log('file', fileInput.files[0])
            fileName.textContent = fileInput.files[0].name;
            var mess = document.querySelector('.c1.c2')
            console.log(mess)
            mess.textContent = "??!!!!!!!!!!!"
            // inp.disabled = true
        }
    }
</script>
{%endblock%}